<ion-header>
  <ion-navbar color="primary">
   
    <ion-title style="margin-left: -12px">Ubah Usulan</ion-title>

  </ion-navbar>
</ion-header>

<ion-content padding>
<ion-list>
  <ion-input type="hidden" [(ngModel)]="id"></ion-input>
  <ion-item>
    <ion-label floating>Tanggal</ion-label>
    <ion-datetime displayFormat="DD MMM YYYY" min="2015" [(ngModel)]="tanggal"
    monthShortNames="Jan, Feb, Mar, Apr, Mei, Jun, Jul, Agt, Sept, Okt, Nov, Des" doneText="Pilih" cancelText="Batal"
    ></ion-datetime>
  </ion-item>
  <ion-item>
    <ion-label floating>Judul Usulan</ion-label>
    <ion-input type="text" [(ngModel)]="judul"></ion-input>
  </ion-item>
  
  <ion-item>
    <ion-label floating>Kategori</ion-label>
    <ion-select [(ngModel)]="id_kategori" interface="popover">
      <ion-option ion-item *ngFor="let item2 of items.koleksi2" value="{{ item2.id }}">{{ item2.namakategori }}</ion-option>
    </ion-select>
  </ion-item>
  
  <ion-input type="hidden" [(ngModel)]="id_warga"></ion-input>
  
  <button ion-button icon-left style="text-align: center">
    <ion-icon name="pin"></ion-icon>
    Lokasi
  </button>
  <div padding style="height: 350px;background-color: rgba(0, 0, 0, 0);" id="map_canvas3"></div>
  <ion-input type="hidden" [(ngModel)]="longitude"></ion-input>
  <ion-input type="hidden" [(ngModel)]="latitude"></ion-input>  
  <ion-item>
    <ion-label floating>Keterangan Lokasi <br><i>*misal: RT/RW/Dusun</i></ion-label>
    <ion-input type="text" [(ngModel)]="lokasi"></ion-input>
  </ion-item>
  <ion-item>
    Foto
    <ion-slides pager>
      <ion-slide *ngFor="let photo of photos; let id = index">
        <ion-toolbar>
          <ion-buttons end>
            <button ion-button color="primary" (click)="deletePhoto(id)">
              <ion-icon name="close"></ion-icon>
            </button>
          </ion-buttons>
        </ion-toolbar>
        <img [src]="photo" class="slide-image" style="height: 70vh; width: auto; margin: auto; display: block;"/>
        <ion-toolbar></ion-toolbar>
      </ion-slide>
    </ion-slides>
  </ion-item>
  <!--<ion-item>
    Foto
    <ion-slides pager>
        <ion-slide *ngFor="let photo of item.fotousulan">
          <img style="height: 70vh; width: auto; margin: auto; display: block;" src="http://forkomperbekelbali.com/desa/public/fotoupload/{{photo.foto}}" class="slide-image">
        </ion-slide>
      </ion-slides>
      <ion-toolbar></ion-toolbar>
  </ion-item>-->
  <ion-item>
    <ion-label floating>Volume</ion-label>
    <ion-input type="text" [(ngModel)]="volume"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label floating>Satuan</ion-label>
    <!--<ion-input type="text" [(ngModel)]="satuan" value="{{ item.satuan }}"></ion-input>-->
    <ion-select [(ngModel)]="satuan" interface="popover">
      <ion-option ion-item value="Orang">Orang</ion-option>
      <ion-option ion-item value="Meter">Meter</ion-option>
      <ion-option ion-item value="Unit">Unit</ion-option>
      <ion-option ion-item value="Paket">Paket</ion-option>
    </ion-select>
  </ion-item>
  <ion-title style="text-align: center ; margin-top: 30px">Penerima Manfaat</ion-title>
  <ion-item>
    <ion-label floating>Laki-Laki</ion-label>
    <ion-input type="text" [(ngModel)]="pria"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label floating>Perempuan</ion-label>
    <ion-input type="text" [(ngModel)]="wanita"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label floating>Rumah Tangga Miskin</ion-label>
    <ion-input type="text" [(ngModel)]="rtm"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label floating>Deskripsi Usulan</ion-label>
    <ion-textarea rows="5" cols="5" [(ngModel)]="deskripsi"></ion-textarea>
  </ion-item>

  <ion-input type="hidden" [(ngModel)]="status" value="{{ item.status }}"></ion-input>

</ion-list>
  <ion-fab bottom right >
    <button ion-fab>
      <ion-icon name="menu"></ion-icon>
    </button>
    
    <ion-fab-list side="top" style="margin-left:-50px;bottom:-17px">
        <button ion-fab (click)="editusulan()" color="primary">
            <ion-icon name="checkmark"style="zoom:1.2"></ion-icon>
        </button>
    </ion-fab-list>
    
    <ion-fab-list side="left" >
      <button ion-fab (click)="takePhoto()" color="primary">
      <ion-icon name="ios-camera-outline" style="zoom:1.4" ></ion-icon>
    </button>
    </ion-fab-list>

    <ion-fab-list side="top">
      <button ion-fab color="primary" (click)="tombolhapus(item)">
        <ion-icon name="trash" style="zoom:1.1"></ion-icon>
      </button>
    </ion-fab-list>
  </ion-fab>
</ion-content>