<ion-header>
  <ion-navbar color="primary">
    
    <ion-title style="margin-left: -12px">Usulan Baru</ion-title>
   
  </ion-navbar>

</ion-header>

<ion-content padding class="card-background-page">

  <ion-list>

  <ion-input type="hidden" [(ngModel)]="id"></ion-input>

  <ion-item>
    <ion-label floating>Tanggal</ion-label>
    <ion-datetime displayFormat="DD MMM YYYY" min="2015" [(ngModel)]="tanggal"
    monthShortNames="Jan, Feb, Mar, Apr, Mei, Jun, Jul, Agt, Sept, Okt, Nov, Des" doneText="Pilih" cancelText="Batal"
    ></ion-datetime>
  </ion-item>

  <ion-item>
    <ion-label floating>Judul Usulan</ion-label>
    <ion-input type="text" [(ngModel)]="judul"></ion-input>
  </ion-item>
  
  <ion-item>
    <ion-label floating>Kategori</ion-label>
    <ion-select [(ngModel)]="id_kategori" interface="popover">
      <ion-option ion-item *ngFor="let item of items.koleksi2" value="{{ item.id }}">{{ item.namakategori }}</ion-option>
    </ion-select>
  </ion-item>

  <ion-input type="hidden" [(ngModel)]="id_warga"></ion-input>
  <ion-input type="hidden" [(ngModel)]="latitude"></ion-input>
  <ion-input type="hidden" [(ngModel)]="longitude"></ion-input>
  <br>&nbsp;
  <!-- Pencarian Otomatis -->
   <ion-toolbar>
      <ion-searchbar [(ngModel)]="query" (ionInput)="searchPlace()" placeholder="Pencarian Lokasi"></ion-searchbar>
  </ion-toolbar>
  <ion-list>
      <ion-item *ngFor="let place of places" (touchstart)="selectPlace(place)">{{place.description}}</ion-item>
  </ion-list>
  <div #pleaseConnect id="please-connect">
      <p>Silahkan Konek ke Internet...</p>
  </div>
  <div #map id="map" padding style="height: 350px;">
      <ion-spinner></ion-spinner>
  </div>
  <!-- Akhir Pencarian Otomatis -->
  <!-- Geolocation
  <br> &nbsp;&nbsp;
  <button ion-button icon-left (click)="bukaModal()">
    <ion-icon name="pin"></ion-icon>
    Lokasi
  </button>
  <br> &nbsp;&nbsp;
  <div padding style="height: 350px;background-color: rgba(0, 0, 0, 0);" id="map_canvas2"></div>
  END Geolocation-->
  
  <ion-item>
    <ion-label floating>Keterangan Lokasi <br><i>*misal: RT/RW/Dusun</i></ion-label>
    <ion-input type="text" [(ngModel)]="lokasi"></ion-input>
  </ion-item>

  <!-- FOTO -->
  <ion-title style="text-align: center ; margin-top: 20px">Foto</ion-title>

  <ion-item>

    <ion-row>
      <ion-col>
      <button ion-button full style="text-transform: none ; text-align: center" (click)="takeFile()">
        <ion-icon name="images" style="zoom:1.6 ; padding-right: 5px"></ion-icon>Dari Album
      </button>
    </ion-col>
    <ion-col>
      <button ion-button full style="text-transform: none ; text-align: center" (click)="takePhoto()">
        <ion-icon name="camera" style="zoom:1.6 ; padding-right: 5px" ></ion-icon>Ambil Foto
      </button>
    </ion-col>
    </ion-row>

    <ion-slides pager>
      <ion-slide *ngFor="let photo of photos; let id = index">
        <ion-toolbar>
          <ion-buttons end>
            <button ion-button color="primary" (click)="deletePhoto(id)">
              <ion-icon name="close"></ion-icon>
            </button>
          </ion-buttons>
        </ion-toolbar>
        <img [src]="photo" class="slide-image" style="height: 70vh; width: auto; margin: auto; display: block;"/>
        <ion-toolbar></ion-toolbar>
      </ion-slide>
    </ion-slides>
  </ion-item>

  <ion-item>
    <ion-label floating>Volume</ion-label>
    <ion-input type="text" [(ngModel)]="volume"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label floating>Satuan</ion-label>
    <!--<ion-input type="text" [(ngModel)]="satuan"></ion-input>-->
    <ion-select [(ngModel)]="satuan" interface="popover">
      <ion-option ion-item value="Orang">Orang</ion-option>
      <ion-option ion-item value="Meter">Meter</ion-option>
      <ion-option ion-item value="Unit">Unit</ion-option>
      <ion-option ion-item value="Paket">Paket</ion-option>
    </ion-select>
  </ion-item>

  <ion-title style="text-align: center ; margin-top: 30px">Penerima Manfaat</ion-title>
  <ion-item>
    <ion-label floating>Laki-Laki</ion-label>
    <ion-input type="text" [(ngModel)]="pria"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label floating>Perempuan</ion-label>
    <ion-input type="text" [(ngModel)]="wanita"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label floating>Rumah Tangga Miskin</ion-label>
    <ion-input type="text" [(ngModel)]="rtm"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label floating>Deskripsi Usulan</ion-label>
    <ion-textarea rows="5" cols="5" [(ngModel)]="deskripsi"></ion-textarea>
  </ion-item>

  <!-- Proposal -->
  <ion-title style="text-align: center ; margin-top: 20px">Proposal</ion-title>

  <ion-item>

    <ion-row>
      <ion-col>
      <button ion-button full style="text-transform: none ; text-align: center" (click)="takeFileProposal()">
        <ion-icon name="images" style="zoom:1.6 ; padding-right: 5px"></ion-icon>Dari Album
      </button>
    </ion-col>
    <ion-col>
      <button ion-button full style="text-transform: none ; text-align: center" (click)="takePhotoProposal()">
        <ion-icon name="camera" style="zoom:1.6 ; padding-right: 5px" ></ion-icon>Ambil Foto
      </button>
    </ion-col>
    </ion-row>
    
    <ion-slides pager>
      <ion-slide *ngFor="let prop of files; let id = index">
        <ion-toolbar>
          <ion-buttons end>
            <button ion-button color="primary" (click)="deletePhotoProp(id)">
              <ion-icon name="close"></ion-icon>
            </button>
          </ion-buttons>
        </ion-toolbar>
        <img [src]="prop" class="slide-image" style="height: 70vh; width: auto; margin: auto; display: block;"/>
        <ion-toolbar></ion-toolbar>
      </ion-slide>
    </ion-slides>

  </ion-item>

  <ion-input type="hidden" [(ngModel)]="status" value="1"></ion-input>
</ion-list>

  <ion-fab bottom right>
    <ion-buttons>
      <button ion-fab (click)="tambahusulan()" style="margin-bottom:10px">
        <ion-icon name="checkmark" style="zoom:1.4"></ion-icon>
      </button>
    </ion-buttons>

    <!--<ion-buttons>
      <button ion-fab (click)="takePhoto()">
        <ion-icon name="ios-camera-outline" style="zoom:1.6" ></ion-icon>
      </button>
    </ion-buttons>-->
  </ion-fab>
</ion-content>