<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title style="margin-left: -12px">Usulan Saya</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
    pullingIcon="arrow-dropdown"
    pullingText="Scroll ke bawah untuk refresh"
    refreshingSpinner="crescent"
    refreshingText="Refreshing..">
  </ion-refresher-content>
  </ion-refresher>

    <ion-list>
      <button ion-item *ngFor="let item of items.koleksi" (click)="tomboldetail(item)" (press)="tomboltahan(item)">
        {{ item.judul }}
        <ion-badge *ngIf="item.status == 1" color="pending" item-end>Direview</ion-badge>
        <ion-badge *ngIf="item.status == 2" color="primary" item-end>Diterima</ion-badge>
        <ion-badge *ngIf="item.status == 3" color="danger" item-end>Ditolak</ion-badge>
      </button>
    </ion-list>

    <ion-fab bottom right>
      <button ion-fab (click)="tombolcreate()">
          <i class="fa fa-pencil" aria-hidden="true" style="zoom:2.2"></i>
      </button>
    </ion-fab>
</ion-content>