<ion-header>
  <ion-navbar color="primary">
    
    <ion-title>
      Usulan Baru
    </ion-title>
   
  </ion-navbar>
</ion-header>

<ion-content padding class="card-background-page">
<ion-list>
    <ion-input type="hidden" [(ngModel)]="id"></ion-input>

  <ion-item>
    <ion-label floating>Tanggal</ion-label>
    <ion-datetime displayFormat="DD MMM YYYY" min="2017" max="2030" [(ngModel)]="tanggal"
    monthShortNames="Jan, Feb, Mar, Apr, Mei, Jun, Jul, Agt, Sept, Okt, Nov, Des"
    ></ion-datetime>
  </ion-item>

  <ion-item>
    <ion-label floating>Judul Usulan</ion-label>
    <ion-input type="text" [(ngModel)]="judul"></ion-input>
  </ion-item>
  
  <ion-item>
    <ion-label floating>Kategori</ion-label>
    <ion-select [(ngModel)]="id_kategori" interface="popover">
      <ion-option ion-item *ngFor="let item of items.koleksi2" value="{{ item.id }}">{{ item.namakategori }}</ion-option>
    </ion-select>
  </ion-item>

  <ion-input type="hidden" [(ngModel)]="id_warga" value="1"></ion-input>

  <br> &nbsp;&nbsp;
  <button ion-button icon-left>
    <ion-icon name="pin"></ion-icon>
    Lokasi
  </button>

  <ion-item>
    Foto
    <ion-slides pager>
      <ion-slide *ngFor="let photo of photos; let id = index">
        <ion-toolbar>
          <ion-buttons end>
            <button ion-button color="primary" (click)="deletePhoto(id)">
              <ion-icon name="close"></ion-icon>
            </button>
          </ion-buttons>
        </ion-toolbar>
        <img [src]="photo" class="slide-image" style="height: 70vh; width: auto; margin: auto; display: block;"/>
        <ion-toolbar></ion-toolbar>
      </ion-slide>
    </ion-slides>
  </ion-item>

  <ion-item>
    <ion-label floating>Volume</ion-label>
    <ion-input type="text" [(ngModel)]="volume"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label floating>Satuan</ion-label>
    <ion-input type="text" [(ngModel)]="satuan"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label floating>Deskripsi Usulan</ion-label>
    <ion-textarea rows="5" cols="5" [(ngModel)]="deskripsi"></ion-textarea>
  </ion-item>

  <ion-input type="hidden" [(ngModel)]="status" value="1"></ion-input>
</ion-list>
  <ion-fab bottom right>
    <ion-buttons>
      <button ion-fab (click)="tambahusulan()" style="margin-bottom:10px">
        <ion-icon name="checkmark" style="zoom:1.4"></ion-icon>
      </button>
    </ion-buttons>

    <ion-buttons>
      <button ion-fab (click)="takePhoto()">
        <ion-icon name="ios-camera-outline" style="zoom:1.6" ></ion-icon>
      </button>
    </ion-buttons>
  </ion-fab>
</ion-content>