<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Detail Usulan
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h3>{{ item.judul }}</h3>
  <p><b>Tanggal : </b>{{ item.tanggal }}</p>
  <p *ngIf="item.id_kategori == 1"><b>Kategori :</b> Penyelenggaraan Pemerintahan Desa</p>
  <p *ngIf="item.id_kategori == 2"><b>Kategori :</b> Pelaksanaan Pembangunan Masyarakat</p>
  <p *ngIf="item.id_kategori == 3"><b>Kategori :</b> Pembinaan Kemasyarakatan</p>
  <p *ngIf="item.id_kategori == 4"><b>Kategori :</b> Pemberdayaan Masyarakat</p>
  <p><b>Lokasi</b></p>
  <div style="height: 50%;background-color: rgba(0, 0, 0, 0);" id="map_canvas"></div>
  <p><b>Volume :</b> </p>
  <p><b>Satuan :</b> </p>
  <p><b>Detail Usulan</b> </p>
  <p>{{ item.deskripsi }}</p>  
</ion-content>
<ion-fab bottom right>
  <button ion-fab color="primary" style="margin-bottom:10px" (click)="tomboledit(item)">
      <ion-icon name="create" style="zoom:1.3"></ion-icon>
  </button>

  <button ion-fab color="primary" (click)="tombolhapus(item)">
    <ion-icon name="trash" style="zoom:1.3"></ion-icon>
  </button>
</ion-fab>