<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title style="margin-left: -12px">Desa Ubung Kaja</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-item><b>Usulan Warga Terbaru</b></ion-item>
  <div *ngFor="let item2 of items2; let i=index; let l=last;">
  <ion-card class="adv-map" *ngIf="l == true">
    <div style="position: relative">
      <ion-slides pager>
        <div *ngFor="let photo of item2.fotousulan">
        <ion-slide>
          <img style="height: 300px; width: 300px; margin: auto; display: block;" src="http://forkomperbekelbali.com/desa/public/fotoupload/{{photo.foto}}" class="slide-image">
          <ion-toolbar></ion-toolbar>
        </ion-slide>
        </div>
      </ion-slides>
    </div>
    <ion-item>
      <ion-icon color="subtle" large item-start name='ios-create-outline'></ion-icon>
      <h2>{{ item2.judul }}</h2>
      <p>{{ item2.deskripsi }}</p>
    </ion-item>
    <ion-item>
      <ion-icon color="subtle" large item-start name='pin'></ion-icon>
      <h2>Lokasi</h2>
      <p>Jalan Dusun Kaja, I No.5</p>
    </ion-item>
    <ion-item actions>
      <span ion-text item-start color="subtle">Oleh</span>
      <span ion-text item-start color="secondary" class="item-bold">{{ item2.warga.nama }}</span>
      <button ion-button color="secondary" clear item-end icon-start (click)="tomboldetail(item2)">
        Detail &nbsp;
        <ion-icon name='ios-arrow-forward'></ion-icon>
      </button>
    </ion-item>
  </ion-card>
  </div>
</ion-content>
